<footer>
    <div class="footer-inner">
      <div class="logo-box">
        <a href="index.html">
          <img src="./assets/images/logo.png" alt="" width="80px">
        </a>
      </div>

      <ul class="footer-links">
        <li><a href="#">Use Cases</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>

      <div class="social-media-links-container">
        <p>&copy; 2021 Standupman. All rights reserved</p>
        <div class="social-media-links">
          <a href="">
           <i class="fab fa-instagram"></i>
          </a>
          <a href="">
            <i class="fab fa-dribbble"></i>
          </a>
          <a href="">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>