<footer>
    <div class="footer-inner">
      <div class="logo-box">
        <a href="index.html">
          <img src="./assets/images/logo.png" alt="" width="80px">
        </a>
      </div>

      <ul class="footer-links">
    
        <li><a [routerLink]="['/home']" routerLinkActive="active"  >Home</a></li>
        <li><a [routerLink]="['/table']" routerLinkActive="active" >Time Table</a></li>
        <li><a [routerLink]="['/seating']" routerLinkActive="active" >Seatings Table</a></li>
      </ul>

      <div class="social-media-links-container">
        <p>&copy; 2022 Real Novia. All rights reserved</p>
        <div class="social-media-links">
      
        </div>
      </div>
    </div>
  </footer>