<section class="hero-section">
    <div class="hero-section-text">
      <p class="heading">Your command center for remote work</p>
      <p>
        Roadmap your day, stay in sync with your team, and have fewer, better
        meetings.
      </p>
      <a href="#" class="btn primary-btn">Time Table</a>
    </div>
    <div class="hero-section-img">
      <!-- <img
        src="./assets/images/standupman-large.svg"
        class="hero-img-1"
        alt=""
      /> -->
      <img src="./assets/images/home-page-hero-section-img.svg" alt="" />
    </div>
  </section>
  
  <section class="features-section">
    <div class="features-section-header">
      <p>OUR FEATURES</p>
      <p>
        Working from anywhere is <br />
        great, but it's not exactly easy...
      </p>
    </div>
    <div class="features-container">
      <div class="feature-card-column">
        <div class="feature-card">
          <img src="./assets/images/calendar.svg" alt="" />
          <p>Tristique vel ac malesuada orci libero.</p>
        </div>
        <div class="feature-card">
          <img src="./assets/images/document.svg" alt="" />
          <p>Tristique vel ac malesuada orci libero.</p>
        </div>
      </div>
      <div class="feature-card-column">
        <div class="feature-card">
          <img src="./assets/images/paper-plane.svg" alt="" />
          <p>Tristique vel ac malesuada orci libero.</p>
        </div>
        <div class="feature-card">
          <img src="./assets/images/dashboard.svg" alt="" />
          <p>Tristique vel ac malesuada orci libero.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="customer-stories-section">
    <div class="customer-stories-container">
      <img src="./assets/images/qoutation-mark-lg.svg" class="bg-img" alt="">
      <div class="header">
        <p>Real Stories from <br> Real Customers</p>
        <p>You can start now</p>
      </div>
      <div class="customer-stories-cards-container">
        <div class="card-column card-column-1 ">
          <div class="card">
            <img src="./assets/images/qoutatiom-mark-sm.svg" alt="" />
            <div class="card-text">
              <p>
                To quickly start my startup landing page design, I was looking
                for a landing page UI Kit. Landify is one of the best landing
                page UI kit I have come across. It’s so flexible, well
                organised and easily editable.
              </p>
              <div>
                <p>Floyd Miles</p>
                <p>Vice President, GoPro</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-column card-column-2">
          <div class="card">
            <img src="./assets/images/qoutatiom-mark-sm.svg" alt="" />
            <div class="card-text">
              <p>
                I used landify and created a landing page for my startup
                within a week. The Landify UI Kit is simple and highly
                intuitive, so anyone can use it.
              </p>

              <div>
                <p>Jane Cooper</p>
                <p>CEO, Airbnb</p>
              </div>
            </div>
          </div>

          <div class="card">
            <img src="./assets/images/qoutatiom-mark-sm.svg" alt="" />
            <div class="card-text">
              <p>Landify saved our time in designing my company page.</p>

              <div>
                <p>Kristin Watson</p>
                <p>Co-Founder, BookMyShow</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
