<section class="hero-section">
    <div class="hero-section-text">
      <p class="heading">Bringing your Time and seatings tables to you.</p>
      <p>
        Download and view your time tables.
      </p>
      <a href="#" class="btn primary-btn">Time Table</a>
    </div>
    <div class="hero-section-img">
      <!-- <img
        src="./assets/images/standupman-large.svg"
        class="hero-img-1"
        alt=""
      /> -->
      <img src="./assets/images/home-page-hero-section-img.svg" alt="" />
    </div>
  </section>
  
  <section class="features-section">
    <div class="features-section-header">
      <p>OUR FEATURES</p>
      <p>
        Working from anywhere is <br />
        great, but it's not exactly easy...
      </p>
    </div>
    <div class="features-container">
      <div class="feature-card-column">
        <div class="feature-card">
          <img src="./assets/images/calendar.svg" alt="" />
          <p>Get your time table from anywhere</p>
        </div>
        <!-- <div class="feature-card">
          <img src="./assets/images/document.svg" alt="" />
          <p>Tristique vel ac malesuada orci libero.</p>
        </div> -->
      </div>
      <div class="feature-card-column">
        <div class="feature-card">
          <img src="./assets/images/paper-plane.svg" alt="" />
          <p>Subscribe to our mailing list.</p>
        </div>
        <div class="feature-card">
          <img src="./assets/images/dashboard.svg" alt="" />
          <p>Get your class Seating Table from anywhere</p>
        </div>
      </div>
    </div>
  </section>
  <app-seating-table></app-seating-table>
  <app-time-table></app-time-table>
  <section class="customer-stories-section">
    <div class="customer-stories-container">
      <img src="./assets/images/qoutation-mark-lg.svg" class="bg-img" alt="">
      <div class="header">
        <p>Real Stories from <br> Real Students</p>
        <p></p>
      </div>
      <div class="customer-stories-cards-container">
        <div class="card-column card-column-1 ">
          <div class="card">
            <img src="./assets/images/qoutatiom-mark-sm.svg" alt="" />
            <div class="card-text">
              <p>
               I can now see and get my time table without going to school
              </p>
              <div>
                <p>Floyd Miles</p>
                <p>SWE1</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-column card-column-2">
          <div class="card">
            <img src="./assets/images/qoutatiom-mark-sm.svg" alt="" />
            <div class="card-text">
              <p>
                I can now see and get my time table without going to school
              </p>

              <div>
                <p>Jane Cooper</p>
                <p>MOT</p>
              </div>
            </div>
          </div>

          <div class="card">
            <img src="./assets/images/qoutatiom-mark-sm.svg" alt="" />
            <div class="card-text">
              <p>  I can now see and get my time table without going to school</p>

              <div>
                <p>Kristin Watson</p>
                <p>MIT</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
