    <section class="compare-plans-section">
        <div class="header">
            <p>Time Table</p>
            
        </div>

        <table class="compare-plans-table">
            <thead>
                <tr>
                    <td>&nbsp;</td>
                    <td>Intro</td>
                    <td>Pro</td>
                    <td>Enterprise</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="heading">Core</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Task</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Planner</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Routines</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Intergrations</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Data retension</td>
                    <td>21 days</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td>Users</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td>Teams</td>
                    <td>&nbsp;</td>
                    <td>Up to 5 teams</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td class="heading">Powerups</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Kudos</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Ideas</td>
                    <td>&nbsp;</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Goals</td>
                    <td>&nbsp;</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Icebreakers</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Custom Profiles</td>
                    <td>&nbsp;</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Handbook</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td class="heading">Insights</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Routine Reports</td>
                    <td>&nbsp;</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Powerups Reports</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>CSV Export</td>
                    <td>&nbsp;</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>PDF Download</td>
                     <td>&nbsp;</td>
                     <td>Coming soon</td>
                     <td>Coming soon</td>
                </tr>
                <tr>
                    <td>API Access</td>
                     <td>&nbsp;</td>
                     <td>Coming soon</td>
                     <td>Coming soon</td>
                </tr>
                <tr>
                    <td class="heading">Advanced</td>
                     <td>&nbsp;</td>
                      <td>&nbsp;</td>
                       <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Roles / Permissions</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Time-zone notifications</td>
                    <td>&nbsp;</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>Anonymous Routines</td>
                    <td>&nbsp;</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                    <td>SSO/SAML</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
            </tbody>
        </table>
    </section>
